extends layout

block content
  h1= title
  p Koa stock photos application
    a(href="/upload") Upload
  div#photos
    -photos.forEach(photo=>{
      div.photo
        h2= photo.name
        a(href="/photo/#{photo.id}/download", title="title") 
          img(src=photo.path)
    -})