<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title=title
body
    h1 #{header}
    form(action='/send',method='post')
        input(type='text',name='tweet')
        input(type='submit',value='Tweet')
    block body
